<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shift Manager Pro</title>
</head>

<body>


    <!-- Begin THIS page content -->
    <header th:replace="/views/fragments/common.html::header"></header>
    <main role="main" class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Reset Password </h1>
                <br>
            </div>
            <div class="container">
                <br>
                <form action="/edit_password" method="post">
                    <div class="form-group">
                        <label for="password">Enter New Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
                <div>
                </div>
    </main>

    <footer class="footer" th:replace="/views/fragments/common.html :: footer"> </footer>

    <th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>

</html>