<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shifts</title>

    <!-- You can create a css with styles only for this page -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Nav bar is located in common.html -->
    <header th:replace="/views/fragments/common.html::header"></header>
    <main role="main" class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Shifts for <span th:text="${user.preferred_name}"></span>
                    <br>
            </div>
            <div class="container">
                <br>

                <div class="shifts-list">
                    <table class="table">
                        <th>Location</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Break Time</th>
                        <th>Info</th>
                        <th>Status</th>
                        <tr th:each="shift : ${shifts}">
                            <div th:unless="${shift.status=='REJECTED'}">
                                <td th:text="${locations[shift.location_id-1].name}"></td>
                                <td th:text="${shift.startTime}"></td>
                                <td th:text="${shift.endTime}"></td>
                                <td><span th:text="${shift.breakTime}"></span> hours</td>
                                <td th:text="${shift.info}"></td>
                                <td>
                                    <span th:if="${shift.status=='PENDING'}">
                                        <form>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-warning dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    PENDING
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        th:href="@{/allocate/{user_id}/{shift_id}/accept(shift_id=${shift.id}, user_id=${user.id})}">ACCEPT</a>
                                                    <a class="dropdown-item"
                                                        th:href="@{/allocate/{user_id}/{shift_id}/reject(shift_id=${shift.id}, user_id=${user.id})}">REJECT</a>
                                                </div>
                                            </div>
                                        </form>
                                    </span>
                                    <span th:unless="${shift.status=='PENDING'}" th:text="${shift.status}">
                                    </span>
                                </td>
                                <td th:if="${user_logged_in}">
                                    <button type="button"
                                    th:href="@{/allocate/{user_id}/{shift_id}/cancel(shift_id=${shift.id}, user_id=${user.id})}"
                                        class="btn btn-warning">
                                        Cancel </button>
                                </td>

                        </tr>
                    </table>
                </div>
    </main>
    <!-- End THIS page content -->


    <!-- Footer is located in common.html -->
    <footer class="footer" th:replace="/views/fragments/common.html :: footer"></footer>

    <!-- Bootstrap Scripts  -->
    <th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>

</html>