<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="form">
        <input th:value="${shift.id}" type="hidden" name="id">
        <select name="location_id" class="custom-select">
            <option th:each="location : ${locations}" th:text="${location.name}" th:value="${location.id}"
                required>Location</option>
        </select>
        <select name="user_id" class="custom-select">
            <option selected value="0">Staff</option>
            <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"
                >Staff</option>
        </select>
        <div class="form-group">
            <label for="startTime">Enter Start Time</label>
            <input type="datetime-local" class="form-control" id="startTime" name="startTime"
                placeholder="Enter startTime" required>
            <label for="endTime">Enter End Time</label>
            <input type="datetime-local" class="form-control" id="endTime" name="endTime" placeholder="Enter endTime"
                required>
            <label for="breakTime">Enter Break Time</label>
            <input type="number" class="form-control" id="breakTime" name="breakTime" placeholder="Enter Break Time"
                required>
        </div>
        <div class="form-group">
            <label for="info">Enter Info</label>
            <textarea type="text" class="form-control" id="info" name="info" rows="2" placeholder="Enter info"
                ></textarea>

        </div>

        <button type="submit" class="btn btn-primary">Create Shift</button>
    </div>

</body>

</html>