<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shift Manager Pro</title>
    <link href="/css/welcome.css" rel="stylesheet">
</head>

<body>


    <!-- Begin THIS page content -->
    <header th:replace="/views/fragments/common.html::header"></header>
    <main role="main" class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Edit Shift </h1>
                <br>
            </div>
            <div class="container">

                <form th:action="@{/shifts/{shift_id}/update(shift_id=${shift.id})}" method="post">
                    <th:block th:include="/views/manager/shifts/_form.html :: form"></th:block>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </main>
    <!-- End THIS page content -->


    <!-- Footer is located in common.html -->
    <footer class="footer" th:replace="/views/fragments/common.html :: footer"> </footer>

    <!-- Bootstrap Scripts  -->
    <th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>

</html>