<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shifts</title>

    <!-- You can create a css with styles only for this page -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Nav bar is located in common.html -->
    <header th:replace="/views/fragments/common.html :: header"></header>

    <!-- Begin THIS page content -->
    <main role="main" class="container ">
        <h1>Shifts <a th:if="${role =='MANAGER'}" class="btn btn-success" href="/shifts/new" role="button">Create a new shift</a>
            </h1>
        <br>

        <div class="shifts-list">
            <table class="table">
                <th>Employee</th>
                <th>Location</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Break Time</th>
                <th>Info</th>
                <tr th:each="shift : ${shifts}">
                    <td>
                        <span th:if="${shift.user_id==0}">
                            <form>

                                <div class="dropdown">
                                    <button type="button" class="btn btn-warning dropdown-toggle"
                                        data-toggle="dropdown">
                                        Not Assigned
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:each="user : ${users}"
                                            th:href="@{/allocate/{user_id}/{shift_id}(shift_id=${shift.id}, user_id=${user.id})}"
                                            th:text="${user.name}"></a>
                                    </div>
                                </div>
                        </span>
                        <span th:unless="${shift.user_id==0}"><span
                                th:text="${users[shift.user_id-1].name}"></span></span>
                    </td>
                    <td th:text="${locations[shift.location_id-1].name}"></td>
                    <td><input th:value="${shift.startTime}" type="datetime-local" disabled></td>
                    <td><input th:value="${shift.endTime}" type="datetime-local" disabled></td>
                    <td><span th:text="${shift.breakTime}"></span> minutes</td>
                    <td th:text="${shift.info}"></td>
                    <td><a th:if="${role =='MANAGER'}" class="btn btn-success" th:href="@{/shifts/{shift_id}/edit(shift_id=${shift.id})}" role="button">Edit shift</a></td>
                    <td><a th:if="${role =='MANAGER'}" th:href="@{/shifts/{shift_id}/delete(shift_id=${shift.id})}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            </table>
        </div>
    </main>
    <!-- End THIS page content -->


    <!-- Footer is located in common.html -->
    <footer class="footer" th:replace="/views/fragments/common.html :: footer"></footer>

    <!-- Bootstrap Scripts  -->
    <th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>

</html>