<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shifts</title>

    <!-- You can create a css with styles only for this page -->
</head>

<body>

    <!-- Nav bar is located in common.html -->
    <header th:replace="/views/fragments/common.html::header"></header>
    <main role="main" class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    All Shifts
                    <a th:if="${role == 'MANAGER'}" style=" float: center;" class="btn btn-success"
                        href="/shifts/new">Create Shift</a>
                </h1> <br>
            </div>
            <div>
                <div class="shifts-list">
                    <table class="table">
                        <th>Employee</th>
                        <th>Maximum Working Hour</th>
                        <th>Current Working Hour</th>
                        <th>Location</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Break Time</th>
                        <th>Shift Duration</th>
                        <th>Info</th>
                        <th>Status</th>
                        <tr th:each="shift : ${shifts}">
                            <td>
                                <span th:if="${shift.user_id==0}">
                                    <form>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-warning dropdown-toggle"
                                                data-toggle="dropdown">
                                                Assign to
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" th:each="user : ${users}"
                                                    th:href="@{/allocate/{user_id}/{shift_id}(shift_id=${shift.id}, user_id=${user.id})} "
                                                    th:text="${user.preferred_name}"></a>
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <span th:unless="${shift.user_id==0} "><span
                                        th:text="${users[shift.user_id-1].preferred_name} "></span></span>
                            </td>
                            <td><span th:unless="${shift.user_id==0} "><span
                                        th:text="${users[shift.user_id-1].standard_working_hour} "></span> hours/week</span></td>
                            <td><span th:unless="${shift.user_id==0} "><span
                                th:text="${users[shift.user_id-1].current_working_hour} "></span> hours/week</span></td>
                            <td th:text="${locations[shift.location_id-1].name} "></td>
                            <td><input th:value="${shift.startTime} " type="datetime-local " disabled></td>
                            <td><input th:value="${shift.endTime} " type="datetime-local " disabled></td>
                            <td><span th:text="${shift.breakTime} "></span> minutes</td>
                            <td><span th:text="${shift.duration} "></span> hours</td>
                            <td th:text="${shift.info} "></td>
                            <td th:text="${shift.status} "></td>
                            <td th:if="${user_logged_in}">
                                <form>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-warning dropdown-toggle"
                                            data-toggle="dropdown">
                                            Action </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                                th:href="@{/shifts/{shift_id}/edit(shift_id=${shift.id})}">Edit</a>
                                            <a class="dropdown-item"
                                                th:href="@{/shifts/{shift_id}/delete(shift_id=${shift.id})}">Delete</a>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </main>
    <!-- End THIS page content -->


    <!-- Footer is located in common.html -->
    <footer class="footer " th:replace="/views/fragments/common.html :: footer "></footer>

    <!-- Bootstrap Scripts  -->
    <th:block th:include="/views/fragments/common.html :: scripts "></th:block>
</body>

</html>