<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shift Manager Pro</title>
    <link href="/css/welcome.css" rel="stylesheet">
</head>

<body>

<!-- Nav bar is located in common.html -->
<header th:replace="/views/fragments/common.html :: header"></header>

<!-- Begin THIS page content -->
<main role="main" class="container ">

    <div>
        <h1 class="display-4">Welcome to Shift Manager Pro</h1>
        <p class="lead">The #1 website for employers and employees to easily manage workplace shifts.</p>
        <hr class="my-4">
        <h4>Today is</h4>
        <p class="lead" th:text="${date}">Feb 2, 2020></p>
        <p class="lead" th:text="${#dates.format(date, 'dd-MM-yyyy HH:mm')}"></p>
        <hr class="my-4">
    </div>
    <div th:if="${role =='MANAGER'}">
        <h5>As a Manager, register a new Manager or Employee:</h5><br>
        <a class="btn btn-success" href="/register">Register Account</a>
    </div>
    <br>
    <div>
        <img src="images/desk.jpg" class="welcome-img">
    </div>

</main>
<!-- End THIS page content -->

<!-- Footer is located in common.html -->
<footer class="footer" th:replace="/views/fragments/common.html :: footer"> </footer>

<!-- Bootstrap Scripts  -->
<th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>
</html>